.clock {
  font-family: montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 75vh;
  color: #425a65;
  /* position: relative;
  z-index: -1; */
}

.clock-time {
  font-size: 5rem;

}
.clock-timezone {
  font-size: 1.5rem;
}

